{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/nobody.jpg' %}" width="75%"
                alt="placeholder image" >
            {% else %}
                <img src="{{ about.profile_image.url }}" width="75%"
                alt="{{ about.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's drop deuce together!</h2>
            <p>Have a crappy joke, a stinker of a pun, or some feedback that'll make us flush with excitement?
                Drop us a message here! Whether you're rating our humor or sharing your poo-tential masterpiece, 
                we'd love to hear from you. Remember, every comment counts—because we believe in turning your #2 
                into our #1 priority!</p>

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Bombs Away!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}